.activity-list-container {
    width: 100%;
    // padding-bottom: 0;
    .activity-list {
        // background-color: red;
        // width: 100%;
        padding: 0 20px;
        h1 {
            font-size: 20px;
            margin-right: 15px;
        }
    }
}
.activity{
    position: relative;
    font-size: 16px;
    img {
        width: 20px;
        position: absolute;
        left: -20px;
        top: 4px;
    }
    input{
        outline: none;
        border-color: transparent;
        padding: 8px 12px;
        border-radius: 3px;
        // height: 108px;
        &:focus{
            box-shadow: inset 0 0 0 2px #0079bf
        }
    }
}
