.activity-list-container {
    width: 100%;
    // padding-bottom: 0;
    .activity-list {
        // background-color: red;
        // width: 100%;
        h1 {
            font-size: 20px;
            margin-right: 15px;
        }
    }
}
