.board-header {
    height: 40px;
    padding: 8px 4px 4px 8px;
    z-index: 5;
    .seperate {
        margin-right: 8px;
        color: hsla(0, 0%, 100%, 0.24);
        // font-weight: 200;
    }

    .task-modal {
        position: fixed;
        top: 45px;
        left: 128px;
    }

    button {
        background-color: hsla(0, 0%, 100%, 0.24);
        color: #fff;
        // height: 100%;
        & :hover {
            background-color: hsla(0, 0%, 100%, 0.103);
        }
    }

    input.el-input__inner {
        width: 100px;
        height: 32px;
        font-size: 14px;
        line-height: 20px;
        background-color: hsla(0, 0%, 100%, 0.24);
        color: #fff;
        border: none;
        &::placeholder {
            color: #fff;
            text-align: center;
        }
    }
    
    .el-input__icon {
        line-height: 0;
    }

    .el-select {
        color: #172b4d;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .board-title {
        h1,
        .edit-title-input input {
            // width: 180px;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            padding: 0 12px;
            margin: 0 0 0 12px;
            color: #172b4d;
            position: relative;
            right: 7px;
            text-align: left;
        }
        h1 {
            color: white;
            background-color: hsla(0, 0%, 100%, 0.24);
            border-radius: 3px;
        }
        .edit-title-input input {
            background-color: white;
            width: unset;
        }
    }

    // ul {
    //     margin: 8px;
    //     padding-left: 10px;
    // }
    .member-avatar {
        width: 28px;
        position: relative;
        right: 10px;
        img {
            width: 28px;
            border-radius: 50%;
            &:first-child {
                margin-left: 10px;
            }
            &:last-child {
                margin-left: 10px;
            }
        }
    }

    .add-member-btn {
        // margin-left: 5px;
        position: relative;
        height: 32px;
    }
    .show-menu-btn {
        position: absolute;
        right: 4px;
        border-radius: 3px;
        color: #fff;
        // cursor: default;
        // float: left;
        font-size: 14px;
        // font-weight: 400;
        height: 32px;
        // line-height: 32px;
        // margin: 0 4px 4px 0;
        width: 125px;
        // box-sizing: border-box;
        // overflow: hidden;
        padding-left: 32px;
        // position: relative;
        // text-decoration: none;
        // text-overflow: ellipsis;
        .el-icon-more {
            left: 12px;
            top: 10px;
            // margin-right: 10px;
            position: absolute;
        }
    }
}
