.board-header {
    // height: 25px;
    height: auto;
    // flex: 1;

    // width: 100%;
    // margin-inline-start: 8px;
    // margin-inline-end: 8px;
    // background-color: red;
    // padding: 8px 4px 4px 8px;
    padding: 8px;
    // margin-bottom: 15px;
    // position: fixed;
    // top: 50px;
    z-index:5;

    .task-modal{
        position: fixed;
        top:45px;
        left: 128px;
    }

    button {
        background-color: hsla(0, 0%, 100%, 0.24);
        color: #fff;
        & :hover{
              background-color: hsla(0, 0%, 100%, 0.103);
        }
    }
    // .boards-btn {
    //     background-color: rgba(0, 0, 0, 0.1);
    //     color: #172b4d;
    //     padding-right: 5px;
    //     padding-left: 5px;
    //     float: left;
    //     display: inline-flex;
    //     margin-right: 4px;
    //     white-space: nowrap;
    // }

    input.el-input__inner {
        width: 100px;
        // padding: ;
        font-size: 14px;
        line-height: 20px;
        background-color: hsla(0, 0%, 100%, 0.24);
        color: #fff;
        border: none;

        &::placeholder {
            color: #fff;
            text-align:center;
        }

    }

    .el-select {
        color: #172b4d;
        // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        // width: ;
    }
    h1,
    .edit-title-input input {
        // font-size: 1rem;
        width: 180px;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 12px;
        margin: 0 10px;
        color: #172b4d;
        // color: #a08686;
        position: relative;
        right: 7px;
    }
    h1{
        color: white;
    }
    ul{
        margin:8px
    }
    .member {
        width: 28px;
        // height: 28px;
        position: relative;
        right: 20px;
        // margin-right: 4px;
        // border-radius: 50%;
        // background-color: lightgrey;
        // margin-right: 20px;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .add-member-btn {
        margin-left: 5px;
        position: relative;
        // right: 20px;
        // font-size: 30px;
        // background-color: transparent;
    }
    .show-menu-btn {
        position: absolute;
        right: 4px;
    }
}
