.dashboard {
      // background-color: lightgrey;
      height: 100vh;
      background-repeat: no-repeat !important;
      background-size: cover !important;

      .title {
            margin-inline-end: 30px;
            margin-block-start: 20px;
            margin-block-end: 20px;
            color: #fff;
      }

      .data-boxes {
            .box {
                  margin-inline-end: 20px;
                  .icon-member {
                        background-color: #0079bf;
                        height: 50px;
                        width: 50px;

                        .icon-check {
                              width: 25px;
                        }
                  }
                  .data-box {
                        background-color: rgba(255, 255, 255, 0.809);
                        height: 50px;
                        width: 120px;
                        font-size: 12px;
                        font-family: Robot;
                        padding-top: 5px;
                        .val {
                              font-size: 20px;
                        }
                  }

                  .icon-total-task {
                        background-color: #f2d600;
                        height: 50px;
                        width: 50px;
                        .icon-check {
                              width: 25px;
                        }
                  }

                  .icon-completed-task {
                        background-color: #70b500;
                        height: 50px;
                        width: 50px;

                        .icon-check {
                              width: 25px;
                        }
                  }

                  .icon-incomplete-task {
                        background-color: #eb5a46;
                        height: 50px;
                        width: 50px;

                        .icon-check {
                              width: 25px;
                        }
                  }
            }
      }

      .chart-by-group {
            background-color: rgba(255, 255, 255, 0.809);
            justify-content: space-around;
            margin-block-start: 20px;
            border-radius: 5px;
            margin-left: 15%;
            margin-right: 15%;
            padding: 20px;

            .chart-task {
                  margin-block-start: 40px;
                  border-radius: 3px;
                  padding: 10px;

                  h1 {
                        margin-bottom: 20px;
                  }
            }
      }

      .btn-back {
            position: absolute;
            right: 30px;
            top: 60px;
            background-color: hsla(0, 0%, 100%, 0.24);
            color: #fff;
            // height: 100%;
            & :hover {
                  background-color: hsla(0, 0%, 100%, 0.103);
            }
      }
}
