.home {
    // height: 82%;
    // position: absolute;
    // bottom: 0;
    height: 100vh;
    width: 100%;

    .home-main-area {
        // height: 82%;
        // position: absolute;
        // bottom: 0;
        margin-top: 250px;
    }

    .logo {
        margin-right: 200px;
        img {
            margin-top: 250px;
        }
    }
}
