// .side-menu {
    .side-menu-screen{
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(128, 128, 128, 0.137);
        z-index: 2;
    }
    .side-menu-container {
        background-color: #7394d6;
        flex: 1;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: hidden;
        height: 100%;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 0 12px 24px -6px rgb(148, 148, 148);
        transition-property: transform, width;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        transform: translateX(339px);
        width: 339px;
        z-index: 5;
        background-color: #f4f5f7;

        &.menu-show {
            transform: translateX(0);
        }
    }
// }
