.main-board-container {
      height: 100vh;
      width: 100%;
}

.board-details {
      margin-inline-start: 8px;
      margin-inline-end: 8px;
      display: flex;
      align-items: flex-start;
      white-space: nowrap;
      // display: flex;
      // height: 85%;
      position: absolute;
      // bottom: 0;
      top: 100px;
      // justify-content: flex-end;
      // .group-container {
      //       flex-wrap: nowrap;
      //       overflow: scroll;
      // }
      .main-group-container {
            width: 272px;
            min-width: 272px;
      }

      .new-group-container {
            background-color: rgb(235, 236, 240);
            margin-inline-end: 4px;
            margin-inline-start: 4px;
            width: 272px;
            min-width: 272px;
            border-radius: 3px;
            background-color: hsla(0, 0%, 100%, 0.24);
            color: #fff;
            & :hover{
                  background-color: hsla(0, 0%, 100%, 0.103);
            }
            
      }

      //group
      .add-new-group {
            color: brighten(#172b4d);
            font-weight: 600;
            font-size: 14px;
            padding: 8px 16px;
            padding-block-start: 12px;
            min-height: 20px;
            cursor: pointer;
      }

      .group-Add-input {
            resize: none;
            margin: 8px;
            padding: 4px;
            background-color: #fff;
            border-color: transparent;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
            & :focus {
                  border-color: transparent;
            }
      }

      .take-new-group {
            flex-direction: column;
      }
      .add-group {
            background-color: rgb(90, 172, 68);
            border-radius: 3px;
            margin-inline-start: 5px;
            color: white;
      }
}
