.task-container{
      padding: 6px 8px 2px;

      .task-main{
            padding: 6px 8px 2px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 6px 9px 16px 4px #ccc;
      }
}