.task-container {
      padding: 6px 4px 2px 5px;
      position: relative;

      .edit-btn {
            & :hover {
                  background-color: $hover;
            }
      }

      .task-edit {
            width: 14px;
            height: 14px;
            cursor: pointer;
            position: absolute;
            right: 30px;
            top: 10px;
      }

      .task-delete {
            width: 14px;
            height: 14px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
      }

      & :first-child {
            padding-block-start: 0px;
      }

      cursor: pointer;
      .open-task-btn {
            display: flex;
            right: 0;
      }

      .taskColor {
            width: 100%;
            height: 30px;
      }

      .task-main {
            flex-direction: column;
            padding: 6px 8px 2px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
            .labels {
                  margin: 0;
                  padding: 0;
                  flex-wrap: wrap;
            }
            .label {
                  list-style-type: none;
                  padding-inline-start: 0px;
                  padding: 0;
            }

            .taskLabel {
                  width: 40px;
                  height: 8px;
                  margin-inline-end: 4px;
                  margin-block-end: 4px;
                  border-radius: 3px;
            }

            .title {
                  text-align: left;
                  margin-block-end: 4px;
                  margin-block-start: 4px;
                  font-size: 12px;
            }

            .time-display {
                  margin-inline-start: 3px;
                  font-size: 12px;
            }

            .checklist-display {
                  font-size: 12px;
            }

            .task-prev-icon {
                  width: 14px;
                  height: 14px;
                  cursor: pointer;
            }

            .checklist-icon {
                  position: static;
            }

            .members {
                  justify-content: flex-end;
                  margin: 5px;
                  list-style-type: none;
            }

            .member {
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
            }
      }
}
