* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

<<<<<<< HEAD
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

=======
button {
    cursor: pointer;
}
>>>>>>> 2bf9c1d01daf331416a3ba2167f30ca290b9d70d
