* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

<<<<<<< HEAD
=======
button {
    cursor: pointer;
}
>>>>>>> bc6c228436e413a538edf697567f1b8a788cb864
