
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$hover: darken($color: white, $amount: 7%);
$hover-dark: darken($color: white, $amount: 15%);
$hover-dark2: darken($color: rgb(126, 25, 25), $amount: 50%);