.app-header {
    position: fixed;
    height: 32px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    // nav{
    padding: 4px;
    z-index: 10;


    button {
        background-color: hsla(0, 0%, 100%, 0.24);
        color: #fff;
        
        & :hover{
              background-color: hsla(0, 0%, 100%, 0.103);
        }
    }
    // & > * {
    // }
    //     // width: 100%;
    //     // margin: 0 auto;
    // }
    nav {
        & > * {
            margin-right: 4px;
            height: 25px;
            margin-top: 7px;
        }
        .boards-btn {
            width: 87px;
            // margin-top: 4px;
        }
        .home-btn {
            width: 32px;
            // margin-left: 4px;
        }
    }
    .logo {
        img {
            width: 80px;
            position: absolute;
            right: 48%;
            left: 48%;
            // top: 1px;
        }
        // margin: 0 auto;
    }

    .member-avatar {
        width: 32px;
        height: 32px;
        background-color: blanchedalmond;
        border-radius: 50%;
    }
}
