.task-modal {
    width: 300px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 0;
    border-radius: 3px;

    & .header {
        height: 40px;
        position: relative;
        margin-bottom: 8px;
        text-align: center;
        background-color: white;
    }

    & .title {
        color: #5e6c84;
        display: block;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin: 0 12px;
        // overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        z-index: 1;
    }

    & .close-btn {
        text-decoration: none;
        color: #6b778c;
        padding: 10px 12px 10px 8px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
}
