.background-image-list {
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 10px;
  margin-left: 1px;

.background-container{
  height: 98px;
}

  .background-img {
    width: 98px;
    height: 98px;
    // margin: 5px;
    border-radius: 5px;
  }
}

.v-swatches {
}

.vue-swatches__wrapper {
  margin-inline-start: 4px;
  .vue-swatches__swatch {
 
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    .vue-swatches__check__wrapper {
      .check {
        fill: #fff;
      }
    }
  }
}
