.background-image-list {
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 10px;
  margin-left: 25px;

.background-container{
  height: 98px;
}

  .background-img {
    width: 125px;
    height: 97px;
    // margin: 5px;
    border-radius: 8px;
  }
}
.vue-swatches__container {
  display: block !important;
  // margin-inline-start: 5px !important;
  background-color: transparent !important;
  input{
      display: none;
  }
  .vue-swatches__fallback__button{
      display: none;
  }
  .vue-swatches__wrapper {
      width: 320px !important;
      display: flex !important;
      padding-left: 15px !important;
      /* background-dis: red !important; */
      flex-wrap: wrap !important;
      margin-inline-start: 4px;
      padding-inline-start: 5px;
      .vue-swatches__swatch {
      
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        .vue-swatches__check__wrapper {
          .check {
            fill: #fff;
          }
        }
  }
  /* display: none; */
  
  // .vue-swatches__wrapper {
    
    // }
  }
  
}
.vue-swatches__trigger{
display: none;   
}