.checklist {
    & input[type="text"] {
        width: 100%;
    }
    & .checklist-actions {
        width: 100%;
    }

    & .done{
        text-decoration: line-through;
    }
    
    .todo-item{

        &:hover{
            background-color: $hover-dark;
        }
    }
}
