.checklist-modal{
    .add-btn{
        margin-right: 8px;
        background-color: #5aac44;
        color: #fff;
        width: 68px;
        height: 32px;
        padding: 6px 12px;
        margin-top: 8px;
        &:hover {
            background-color: #5bac44e5;
        }
    }
    h3{
        margin: 10px 0 !important;
        font-weight: 600 !important;
        font-family: Robot !important;
    }
}

.checklist-preview  {
    position: relative;
    font-size: 16px;
    margin-bottom: 24px;

    .checklist-title{
        position: relative;
        button{
            position: absolute;
            right: 0;
            top: -8px;
            &:hover {
                background-color: $hover-dark;
            }
        }
    }
    img {
        width: 24px;
        position: absolute;
        left: -24px;
        top: -2px;
    }

    & input[type="text"] {
        width: 100%;
    }
    & .checklist-actions {
        width: 100%;
    }

    & .done {
        text-decoration: line-through;
    }

    .todo-item {
        height: 30px;
        border-radius: 3px;
        &:hover {
            background-color: $hover-dark;
        }
        .el-checkbox__inner{
            margin-left: 5px;
            margin-right: 20px;
        }
    }
    .checklist-items-container{
        // background-color: red;
        width: 107%;
        position: relative;
        left: -40px;
        top: 0;
        margin: 0 0 5px;

        .checklist-bar-container{
            padding-left: 5px;
            margin: 0 0 5px;
            .status-txt{
                margin-right: 20px;
            }
        }
    }

    .checklist-button-container{
        & button {
            margin-top: 8px;
            height: 32px;
            img{
                width: 15px;
                position:unset
            }
            &:hover {
                background-color: $hover-dark;
            }
        }
        & button:not(:last-child) {
            margin-right: 8px;
            background-color: #5aac44;
            color: #fff;
            width: 52px;
            padding: 12px 24px;
            &:hover {
                background-color: #5bac44e5;
            }
        }
    }

    // .el-input__inner{
    //     margin-bottom: 20px;
    // }

}
