.delete-card{
    p{
        margin: 0 0 8px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #172b4d
    }

    button{
        width: 100%;
    }
}