.dueDate-modal {
    // height: 530px;
    .date-options {
        width: 87%;
        .due-date-save-btn {
            background-color: #5aac44;
            color: white;
        }

        .due-date-range-btn {
            margin-top: 8px;
        }
    }
}

.due-date-preview {
    // margin: 20px 0;
    position: relative;
    // position: relative;
    font-size: 16px;
    img {
        width: 20px;
        position: absolute;
        left: -40px;
        top: 4px;
    }
    .date-preview {
        cursor: pointer;
    }
    .date {
        // width: 270px;
        font-size: .875rem;
        height: 40px;
        background-color: #e2e4e9;
        border-radius: 3px;
        text-align: left;
        padding: 8px 12px;
        // margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .end-date {
        margin-left: 30px;
    }
}
