
.edit-label-container {

    width: 280px;

    input{
        margin: 4px 0 12px;
        width: 100%;
    }

    .label-edit-item {
        cursor: pointer;
        height: 32px;
        margin: 0 8px 8px 0;
        padding: 0;
        width: 48px;
        float: left;
        border-radius: 4px;
    }

    .label-edit-btns, input{
        clear: both;
    }
}

