.members-modal {
    padding: 0 12px 12px;
    & input {
        margin: 4px 0 12px;
        width: 100%;
    }

    & .member-container{
        cursor: pointer;

        &:hover{
            background: darken($color: white, $amount: 5%);
        }
    }



    & .member-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: palevioletred;
        margin-right: 8px;
    }

    & .other-members-btn {
        color: #172b4d;
        width: 100%;
        border: none;
        display: inline-block;
        line-height: 20px;
        padding: 6px 12px;
        text-decoration: none;
        margin: 8px 4px 0 0;
        cursor: pointer;
        background-color: rgba(9, 30, 66, 0.04);
    }
}
