.group-container {
      background-color: rgb(235, 236, 240);
      margin-inline-end: 4px;
      margin-inline-start: 4px;
      width: 272px;
      border-radius: 3px;
      height: auto;
      color: #172b4d;
      word-break: break-all;
      white-space: initial;

      .group-title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            padding: 8px 16px;
            min-height: 20px;
            cursor: pointer;
            word-break: break-all;
            white-space: initial;
            &:hover {
                  background: $hover-dark;
            }
      }
      .group-menu-btn {
            width: 20px;
            height: 20px;
            padding: 6px;
            margin: 0;
            cursor: pointer;
            & :hover {
                  background: $hover-dark;
            }
      }

      .group-main-body {
            max-height: 300px;
            overflow-y: scroll;
      }

      .group-main-body::-webkit-scrollbar {
            height: 8px;
            width: 8px;
      }

      .group-main-body::-webkit-scrollbar-track {
            // background: #f1f1f1;
            background: rgba(9, 30, 66, 0.08);
      }

      .group-main-body::-webkit-scrollbar-thumb {
            background: #888;
            // background-color: #c4c9cc;
            // border-right: 0.6rem solid #e2e4e6;
      }

      .add-new-Card {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            padding-inline-start: 8px;
            padding-inline-end: 0px;
            padding-block-start: 4px;
            padding-block-start: 4px;
            margin: 2px 0px 8px 8px;
            font-size: 14px;
            cursor: pointer;
            & :hover {
                  background: $hover-dark;
            }
      }

      .task-Add-input {
            margin: 5px;
      }

      .add-task {
            background-color: rgb(90, 172, 68);
            border-radius: 3px;
            margin-inline-start: 5px;
            color: white;
      }

      .take-new-task {
            flex-direction: column;
            width: 100%;
            padding: 8px;
      }
}
