.task-attchment{
    label {
        font-weight: 700;
        color: #5e6c84;
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 4px;
        display: block;
    }

    input{
        margin: 4px 0 12px;
    }

    button{
        width: unset;
    }
}