.status-bar {
    // position: relative;
    background-color: #e2e4e9;
    width: 100%;
    height: 8px;
    border-radius: 10px;

    .status-bar-value {
        background-color: #5ba4cf;
        height: 100%;
        transition: all 1s;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

}


.status-txt {
    color: #5e6c84;
    font-size: 11px;
    margin-right: 10px;
}
