.copy-card {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-top: 16px;

 


    label{
        font-weight: 700;
        color: #5e6c84;
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 4px;
        display: block;
    }

    textarea{
        width: 100%;
        outline: none;
        border-color: #DFE1E6;
    }


}
