.dueDate-modal {
    // height: 530px;
    .date-options {
        width: 87%;
        .due-date-save-btn {
            background-color: #5aac44;
            color: white;
        }

        .due-date-range-btn {
            margin-top: 8px;
        }
    }
}

.due-date-preview {
    margin: 20px 0;
    position: relative;
    position: relative;
    font-size: 16px;
    img {
        width: 24px;
        position: absolute;
        left: -40px;
        // top: 8px;
    }
    .date-preview {
        cursor: pointer;
        &:hover {
            background-color: $hover;
        }
    }
    .end-date {
        margin-left: 40px;
    }
}
