.task-labels{

    input{
        width: 100%;
    }

    span{
        cursor: pointer;
    }

    .label{
        line-height: 20px;
        font-size: 14px;
        color:white;
        display: block;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 30px;
        padding: 6px 12px;
        width: 70%
    }
}