.members-main-container {
    margin-bottom: 8px;
    margin-right: 8px;
    position: relative;
    font-size: 16px;
    img {
        width: 24px;
        position: absolute;
        left: -40px;
        top: 4px;
    }

    & .member {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: palevioletred;
        position: unset;
    }

    & .member-plus-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
    }
}
